<h2>We are glad you took out the time to fill a review for <%=@listing[:title]%> !</h2>
<br></br>
<p><a href="/listings/<%= @listing[:id] %>" class="btn btn-primary">Back to <%=@listing[:title]%></a></p>