<div class="row">
    <div class="col-sm-9">
    <h1 class="text-center">KELLOGG HOUSING PLATFORM</h1>
        <% for listing in @listings %>
            <br></br>
            <div class="card text-center">
                <div class="card-header text-muted">
                    <%= listing[:buildtype]%>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=listing[:title]%></h5>
                    <a href="/listings/<%= listing[:id] %>" class="btn btn-primary">See Listing</a>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-sm-3">
        <a href="/new" class="btn btn-primary">Create New Listing</a>
    </div>