<div class="row">
    <div class="col-sm-9">
        <h1>
            Create Listing
        </h1>
        <br> </br>

        <form action="/new/create">
            <div class="form-group">
                <label>Name of Building</label>
                <textarea class="form-control" rows="3" name="title"></textarea>
            </div>
            <div class="form-group">
                <label>Building Type</label>
                <select class="form-control" name="buildtype">
                <option value="Building">Apartments</option>
                <option value="Home">House</option>
                <option value="Hotel">Hotel</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>Average Rent</label>                
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="text" class="form-control" name="avgrent" placeholder="1Mo, 2Bed">
            </div>

            <div class="form-group">
                <label>Rooms</label> 
                <select class="form-control" name="rooms">
                    <option value="0-150">0-100</option>
                    <option value="150-300">150-300</option>
                    <option value="300-500">300-500</option>
                    <option value="500+">500+</option>
                </select>
            </div> 

            <div class="form-group">
                <label>Location</label> 
                <input type="text" class="form-control mb-2 mr-sm-2" name="location" placeholder="Type Google Maps search query">    
            </div>    

        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>